.main {
    text-align: center;
}

.planets{
    width: 110px;
    margin: 0px;
    padding: 0px;
    position: relative;
   
}

.planetsRing {
    width: 140px;
    margin: 0;
    padding: 0;
    position: relative;
}

table#planetTable {
    text-align: center;
    justify-content: center;
    width: 100%;
    border: 0px; 
    margin-top: 250px;
    position: relative;
    background-image: url("../images/milchstrasse.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#planetTable td {
    padding: 5px 50px;
}

#alien-avatar {
    position: fixed;
}

#alien {
    padding: 0;
    width: 170px;
    display: block;
    margin-right: auto;
    margin-right: auto;
    margin-top: 10px;
}

/*alien-floating-around*/
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
} 

#speechbubble {
    background-image: url("../images/speechbubble.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 100px;
    font-family: 'Play', sans-serif, bold;
    font-size: 15px; 
    text-align: center;
    float: left;
    margin-left: 250px;
    padding: 10px; 
}

/* zoom when hoven on planets */
table#planetTable td img {
    height: 100px; 
    overflow: visible;
    transition: transform .5s ease;
}

table#planetTable td img:hover {
    transform: scale(1.5);
}


@media (max-width: 1250px) {
    #speechbubble {
        visibility: hidden;
    }
}

@media (max-width: 810px){
    table#planetTable {
        transform: rotate(90deg);
        display: inline-block;
        background-image: none;
    }
    
    table#planetTable td img {
        overflow: visible;
        transform: rotate(270deg);
        height: 100px; 
        transition: transform .5s ease;
    }
    
    table#planetTable td img:hover {
        transform: scale(1.5) rotate(270deg);
    }
}

@media (max-width: 600px) {
    #alien-avatar {
        visibility: hidden;
    }
}
