p {
    margin-top:10px;
    margin-left:250px;
    font-size: 10px;
    font-family: 'Play', sans-serif;
    color: mediumspringgreen;
}
main {
    margin-top:50px;
    overflow-y: hidden;
    text-align: center;

}

.main {
    margin-top: 15px;
    text-align: center;
}

#anmeldeBtn {
    position: relative;
    padding: 5px;
    margin-top:20px;
    margin-left:327px;
    border: 1px solid white;
    border-radius: 4px;
    font-family: 'Play', sans-serif;
    color: mediumspringgreen;
    background-color: rgb(39, 39, 39);    
}

#demokey {
    position: relative;

}

form {
    margin:0;
    width: 400px;
    display: inline-block;
}

form > label {
    float: left;
    margin: 12px 0 4px 0; 
    font-family: 'Play', sans-serif;
    color: rgb(235, 235, 235);
}

form > label span {
    font-size: 10px;
    color: mediumspringgreen;
}

form > input {
    padding: 10px;
    width: 100%;
    box-sizing : border-box;
    font-family: 'Play', sans-serif;
    color: white;
    background-color: rgb(39, 39, 39);
    border: 1px solid mediumspringgreen;
    border-radius: 4px;
}

form > input:focus, form > textarea:focus, form > button:hover {
    outline-color: mediumspringgreen;
    box-shadow: 0 0 10px mediumspringgreen;
}

/* Animation */

/* Startpositionen */
.spaceframe { 
    position: relative; 
    width: 300px; 
    height: 165px; 
    background:rgb(44, 44, 44); 
    margin: 1em auto; 
    margin-top:0;
    overflow: hidden; 
    border-top-left-radius: 300px; 
    border-top-right-radius: 300px; 
    border: 2px solid var(--AnimatedNeoncolor);
}

.spaceframe img { 
    position: absolute; 
}

.landschaft1 { 
    width: 300px; 
    height: 165px; 
    animation: loop1 18s infinite reverse linear;
}

.landschaft2 { 
    width: 300px; 
    height: 165px; 
    animation: loop2 18s infinite reverse linear;
}

.sterne1 { 
    width: 300px; 
    height: 100px;  
    animation: loop1 60s infinite reverse linear;
}
.sterne2 { 
    width: 300px; 
    height: 100px;  
    animation: loop2 60s infinite reverse linear;
}

.mond { 
    width: 30%; 
    height: auto; 
    animation: mond 30s infinite reverse linear; 
}
.alien { 
    width: 20%; 
    height: auto; 
    bottom: 50px; 
    right: 20%; 
    animation: alien 10s linear infinite;

}

.qualm { 
    width: 40%; 
    height: auto; 
    bottom: 60px; 
    right: 50%; 
    animation: qualm 8s infinite;
}

@keyframes loop1 {
   from { left: -100% }
   to { left: 0px }
}

@keyframes loop2 {
   from { left: 0px }
   to { left: 100% }
}

@keyframes mond {
	from { transform: translate(-60%) scale(0.7);}
	to { transform: translate(300%)}
}

@keyframes qualm {
	from {transform:translate(0,0)}
	to {transform:translate(-200px,-100px)}
}

@keyframes alien {
	25% {transform:rotate(5deg)}
	50% {transform:rotate(-5deg)}
	75% {transform:rotate(5deg)}
	100% {transform:rotate(0deg)}
}

@media (min-width: 480px) {
	.spaceframe { width: 450px; height: 242px; }
	.landschaft1 { width: 450px; height: 242px; }
	.landschaft2 { width: 450px; height: 242px; }
	.sterne1 { width: 450px; height: 150px; }
	.sterne2 { width: 450px; height: 150px; }
}

@media (min-width: 980px) {
	.spaceframe { width: 600px; height: 330px; }
	.landschaft1 { width: 600px; height: 330px; }
	.landschaft2 { width: 600px; height: 330px; }
	.sterne1 { width: 600px; height: 200px; }
	.sterne2 { width: 600px; height: 200px; }
	.alien { bottom: 50px;}
	.qualm { bottom: 90px;}
}

/*Avatar Generieren*/

h3 {
    margin-top:150px;
    font-size: 100px;
    font-family: 'Play', sans-serif;
    color: mediumspringgreen;
}

h3:hover {
    color:white;
}

#schaltflaeche {
    display:inline-block;
}

#avatar {
    width: 400px;
}

#leftButton {
    position: relative;
    float:left;
    margin-left:200px;
}

#rightButton {
    position: relative;
    float:right;
    margin-right:200px;
}

#auswahlButton {
    position: relative;
    padding: 5px;
    margin-top:20px;
    margin-left:327px;
    border: 1px solid white;
    border-radius: 4px;
    font-family: 'Play', sans-serif;
    color: mediumspringgreen;
    background-color: rgb(39, 39, 39);
}

/*alien-floating-around*/
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
} 