/*** GENERAL PAGE LAYOUT & DESIGN ***/
h1 span {
    color: var(--AnimatedNeoncolor);
}

/*** ROADMAP DESIGN ***/
ul#roadmap {
    margin-left: 15%;
    padding: 10px;
    list-style: none;
    border-left: var(--AnimatedNeoncolor) 5px solid;
}

ul#roadmap > li {
    margin: 15px 0;
    color: white;
}

ul#roadmap > li span.eventHeader {
    font-weight: bold;
    font-size: 20px;
}

ul#roadmap > li span.editArea {
    font-size: 13px;
}

ul#roadmap > li.done span.eventHeader, ul#roadmap > li.done span.eventText {
    color: grey;
    text-decoration: line-through;
}

/*** INPUT FORM ***/
div#interface {
    position: fixed;
    display: none;
    right: 150px;
    top: 150px;
    z-index: 100;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    background-color: rgba(30,30,30,0.7);
    border: #3c3c3c 1px solid;
    border-radius: 15px;
}

form {
    width: 400px;
    display: none;
}

form > label {
    float: left;
    margin: 12px 0 4px 0; 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(235, 235, 235);
}

form > input {
    padding: 10px;
    width: 100%;
    box-sizing : border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(39, 39, 39);
    border: none;
}

form > input:focus, form > textarea:focus, form > button:hover {
    outline-color: mediumspringgreen;
    box-shadow: 0 0 10px mediumspringgreen;
}

form > button:focus {
    outline: 0;
}

form > button:active {
    outline-color: darkorange;
    box-shadow: 0 0 10px darkorange;
}

::placeholder {
    color: white;
}

input[name="name"], input[name="date"] {
    height: 40px;
}

input[name="text"] {
    height: 80px;
}

form button {
    float: right;
    margin: 10px 0 0 5px;
    margin-top: 10px;
    padding: 3px;
    color: white;
    background-color: rgb(39, 39, 39);
    border: none;
}

div#addButton {
    color: var(--AnimatedNeoncolor);
    font-size: 100px;
    position: fixed;
    left:100px;
    top:70px;
}

#alien {
    width: 160px;
    position: fixed;
    top: 430px;
    left: 520px;
    
    
}

#speechbubble {
    background-image: url("../images/speechbubble.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    font-family: 'Play', sans-serif, bold;
    font-size: 15px; 
    position: relative;
    top:210px;
    left:300px;
    padding: 10px; 
    padding-bottom: 40px;
    padding-left:22px;
}


/*** RESPONSIVE ***/
@media only screen and (max-width: 600px) {
    div#interface {
        display: none;
    }
}