/*** PAGE LAYOUT ***/
body {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr min-content;
    grid-template-areas:
    "header header"
        "sidebar main"
        "footer footer";
}

header {
    grid-area: header;
    position: sticky;
    background-color: lavenderblush;
    z-index: 60;
}

aside {
    grid-area: sidebar;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}