/*** Reset CSS & General Settings ***/
* {
  padding: 0;
  margin: 0;
}

:root {
  --AnimatedNeoncolor: #ff0000;
}

::-webkit-scrollbar {
  display: none;
}

/*** Basic Layout & Design ***/
html, body {
  width: 100%;
  height: 100%;
  background-image: url("../images/stars_space_galaxy.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
  background-attachment: fixed;
}

h1 {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  font-family: 'Play', sans-serif;
  color: white;
  font-size: 75px;
  text-align: center;
  border-bottom: 1.5px solid;
  border-image: linear-gradient(90deg, rgba(0,250,154,0) 20%, rgba(0,250,154,1) 50%, rgba(0,250,154,0) 80%) 1;
}

main {
  position: absolute;
  top: 90px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
  align-items: center;
}

p {
  font-family: 'Cousine', monospace;
  color: white;
  font-size: 25px;
}

a:link, .interactive {
  color: mediumspringgreen;
  text-decoration: none;
  cursor:url('../images/rocketcursor.png'), auto;
}

a:hover, .interactive:hover {
  color: mediumspringgreen;
  text-decoration: underline;
  cursor:url('../images/rocketcursor.png'), auto;
}

a:active, .interactive:active {
  color: darkorange;
  text-decoration: underline;
  cursor:url('../images/rocketcursor.png'), auto;
}

a:visited {
  color: mediumspringgreen;
  text-decoration: none;
  cursor:url('../images/rocketcursor.png'), auto;
}

.interactiveElement {
  cursor:url('../images/rocketcursor.png'), auto;
}

/*alien-floating-around*/
.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
} 

/*** Dropdown Button ***/
.dropbutton {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 20px;
  margin: 0px;
  margin-bottom: 1px;
  font-size: 16px;
  border: none;
}

.backgroundVisierDiv {
  padding:0;
  margin-left: 40px;
  margin-top: 50px;
  width: 50px;
  height: 50px;
  background-color: var(--AnimatedNeoncolor);
  position: absolute;
  float: right;
}

/* dropdown button position*/
.dropdown {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 100;
}
  
/* Dropdown Content (Hidden wenn Default) */
.dropdown-content {
  width: 135px;
  display: none;
  position: absolute;
  background-color: #565058;
  padding: 0px;
  margin: 2x;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
/* Subsites bei Dropdown*/
.dropdown-content h2 {
  font-size: 15px;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content h2:hover {
  cursor:url('../images/rocketcursor.png'), auto;
}

  
/*Frabe von Dropdown verändern beim Hovern*/
.dropdown-content a:hover {
  background-color: rgb(156, 134, 134);
}
 
.astrologo {
  width: 95px;
  margin: 0px;
  padding: 0px;
  position: relative;
}


#lautsprecher{
  width:20px;
}

#playAudio {
  width:20px;
  height:20px;
}

.show {
  display: block;
}

@media (max-width:455px) {
  .dropbutton {
    visibility: hidden;
  }

  .backgroundVisierDiv {
    visibility: hidden;
  }
}